.post-template {
    background: #95a5a6;
    height: 100%;
    width: 100%;
    padding-top: 5em;
}

.post {
    width: 90%;
    background: #34495e;
    display: flex;
    flex-direction: row;
    margin: auto;

    
    .user {
        margin: 0 0 0 1em;
        width: 20%;

        img {
            width: 100%;
            margin: auto 0;
        }

        p {
            margin: 0;
            padding: 0;
            text-align: center;
        }
    }

    .content {
        margin: 0 1em 0 1em;
        width: 100%;
    }
}
